services:
  nest-app:
    build:
      context: .
      dockerfile: ${NODE_ENV}.Dockerfile
    container_name: nestjs-app
    ports:
      - "80:80"
    environment:
      - NODE_ENV=${NODE_ENV}
    volumes:
      - ./:/app
      - /app/node_modules
    restart: unless-stopped